@using Shared.DTO;
@model StaffSignInViewModel;
@{
    ViewData["Title"] = "Hospital Login";
}

<div class="background-image"></div>
<div id="container">
    <form asp-action="SignIn" method="POST">
        <div asp-validation-summary="ModelOnly"></div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" asp-for="Email">Email address/National id</label>
            <input type="text"
                   id="form2Example1"
                   asp-for="Email"
                   class="form-control"
                   placeholder="type your Email or national Id here.."
                   value="admin@depi.com"
                   autofocus />
            <span asp-validation-for="Email"></span>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" asp-for="Password">Password</label>
            <input type="password" id="form2Example2" class="form-control" asp-for="Password" value="0123456789" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           value=""
                           id="form2Example31"
                           asp-for="RememberMe"
                           value="false"
                           checked />
                    <label class="form-check-label mb-3" asp-for="RememberMe">Remember me</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4"> Sign in </button>
    </form>
    <a href="/Patient">I'm a Patient</a>
</div>
