@using Shared.DTO;
@model PatientViewModel;
<div id="main" class="NormalizeUpnormalHight">
<h1>Add New Patient</h1>
    <form method="POST" asp-action="AddPatient">
        <div class="form-group">
            <label asp-for="firstName">First Name</label>
            <input type="text" class="form-control" id="appointmentDateTime" asp-for="firstName">
        </div>
        <div class="form-group">
            <label asp-for="lastName">Last Name</label>
            <input type="text" class="form-control" id="appointmentDateTime" asp-for="lastName">
        </div>


        <div class="form-group">
            <label asp-for="SocialNumber">Social Number</label>
            <input type="text" class="form-control" id="appointmentDateTime" asp-for="SocialNumber">
        </div>

        <div class="form-group">
            <label asp-for="gender">Gender</label>
            <select class="form-control" id="Gender" asp-for="gender">
                <option value="0">Male</option>
                <option value="1">Female</option>
            </select>
        </div>


        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input type="text" class="form-control" id="appointmentDateTime" asp-for="Address">
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber">Phone Number</label>
            <input type="text" class="form-control" id="appointmentDateTime" asp-for="PhoneNumber">
        </div>

        <div class="form-group">
            <label asp-for="EmergencyContactName">Emergency Contact Name</label>
            <input type="text" class="form-control" id="appointmentDateTime" asp-for="EmergencyContactName">
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactRelationship">Emergency Contact Relationship</label>
            <input type="text" class="form-control" id="appointmentDateTime" asp-for="EmergencyContactRelationship">
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactPhone">Emergency Contact Phone</label>
            <input type="text" class="form-control" id="appointmentDateTime" asp-for="EmergencyContactPhone">
        </div>

        <div class="form-group">
            <a href="/Admin/ViewPatients" class="btn btn-secondary">Close</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
    </form>
</div>