<div class="table-responsive">
    <a class="btn btn-success" href="/Admin/AddPatient">Add New Patient</a>
    <table class="table table-bordered" id="systemUsersTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full name</th>
                <th>Social Number</th>
                <th>Gender</th>
                <th>Actions</th>
            </tr>
            <tr>
                <!-- Search inputs will be added dynamically -->
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in ViewBag.Patients)
            {
                <tr>
                    <td>@patient.Id</td>
                    <td>@(patient.firstName + " " + patient.lastName)</td>
                    <td>@patient.SocialNumber</td>
                    <td>@patient.gender.ToString()</td>
                    <td>
                        <a href="/Admin/ViewPatient?id=@patient.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" id="paginationUsers">
            <!-- Pagination items will be generated dynamically -->
        </ul>
    </nav>
</div>
